<div class="cuerpo">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2" id="barra-control">
            <div class="vertical-menu">
                <a routerLink="/" class="itemLista" id="etiquetaMenu">Inicio</a>
                <a routerLink="/proyectos" class="itemLista" id="etiquetaMenu">Proyectos</a>
                <a routerLink="/mapas" class="active itemLista dropdown-toggle" id="etiquetaMenu">Mapas</a>

                <a routerLink="/equipo" class="itemLista" id="etiquetaMenu">Equipo</a>
                <a routerLink="/contactos" class="itemLista" id="etiquetaMenu">Contactos</a>
                <a routerLink="/opiniones" class="itemLista" id="etiquetaMenu">Opiniones</a>
                <div id="divLogos">
                    <img src="assets/images/Logo_Citmov.png" id="imgLogoCM">
                    <img src="assets/images/u_cuenca.png" id="imgLogoUC">
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10" style="padding: 0%">
            <div id="mapaPlantilla" style="height: 500px;">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe style="width:100%" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=cuenca&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/"></a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <div id="imagenCitmov" class="text-center">
                        <img src="assets/images/Logo_Citmov.png" width="110"
                            style="margin-top: 15px;margin-bottom: 15px; weight:100%;">
                    </div>
                    <div id="cuerpo">
                        <h3 id="subtituloEstudio">Usuarios de transporte público que pagan más de una
                            tarifa</h3>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <img src="assets/images/usuario_1tarifa.jpg" alt="imagenProyecto"
                                    id="imagenResumenEstudio" style="weight:100%;">
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p id="cuerpoResumenEstudio">
                                    <span id="subtitulo2ResumenEstudio">Descripcion</span>
                                    <br>
                                    El estudio analizó la cantidad de usuarios que lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Deserunt
                                    deleniti assumenda hic quasi dicta sint quam illo quisquam perferendis
                                    provident? Voluptatum id molestias quidem quis odio! Magnam incidunt
                                    voluptatem quo.
                                    <br>
                                    <span id="subtitulo2ResumenEstudio">Objetivos</span>
                                    <br>
                                <ul id="cuerpoResumenEstudio">
                                    <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                                        deleniti assumenda </li>
                                    <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                                        deleniti assumenda </li>
                                    <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                                        deleniti assumenda </li>
                                </ul>
                                <div id="tabla">
                                    <span id="subtitulo2ResumenEstudio">Resultados</span>
                                    <table class="table">
                                        <thead class="thead-dark textPoppins centrado">
                                            <tr>
                                                <th scope="col">Parroquia</th>
                                                <th scope="col">Total Medidores</th>
                                                <th scope="col">Una tarifa</th>
                                                <th scope="col">> Una tarifa</th>
                                                <th scope="col">> Una tarifa (%)</th>
                                            </tr>
                                        </thead>
                                        <tbody class="textLora centrado">
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@fat</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Larry</td>
                                                <td>the Bird</td>
                                                <td>@fat</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-info mt-3 mb-3" id="botonCuerpoResumenEst"
                                    style="background-color: #4CAF50;">Descargar
                                    Resultados</button>
                                <button class="btn btn-info mt-3 mb-3" id="botonCuerpoResumenEst"
                                    style="background-color: #4CAF50;" routerLink="/edadparqueautomotor">Mapa
                                    1 Usuarios
                                    pago
                                    > 1 tarifa</button>
                                <button class="btn btn-info mt-3 mb-3" id="botonCuerpoResumenEst"
                                    style="background-color: #4CAF50;"
                                    onclick="window.open('MapasTemp/Qgis2Web/nivel_accesibilidad_trans_pub/index.html');">Mapa
                                    2
                                    Accesibilidad Transporte Publico</button>
                                <button class="btn btn-info mt-3 mb-3" id="botonCuerpoResumenEst"
                                    style="background-color: #4CAF50;"
                                    onclick="window.open('MapasTemp/Qgis2Web/usuarios_trans_pub_mas_1_tarifa/index.html');">Mapa
                                    3 Viajes con
                                    Transbordo al Area Urbana</button>
                                <button class="btn btn-info mt-3 mb-3" id="botonCuerpoResumenEst"
                                    style="background-color: #4CAF50;"
                                    onclick="window.open('MapasTemp/Qgis2Web/viajes_transbordo_zona_urb/index.html');">Mapa
                                    4 Edad parque
                                    automotor</button>
                                <button class="btn btn-info mt-3 mb-3" id="botonCuerpoResumenEst"
                                    style="background-color: #4CAF50;"
                                    onclick="window.open('MapasTemp/Qgis2Web/viajes_transbordo_zona_urb/index.html');">Mapa
                                    5 Frecuencia
                                    de transporte publico</button>

                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
            </div>
            <footer class="bg-dark text-light textPoppins">
                <div class="row ">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="row pt-4">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <a target="_blank" href="https://www.facebook.com/cit.mov.92"><i class="fab fa-facebook"
                                        id="iconoFooter"></i></a>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"><a target="_blank"
                                    href="https://citmovucuenca.com"><i class="fas fa-globe" id="iconoFooter"></i></a>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"><a target="_blank"
                                    href="https://twitter.com/FreAbad"><i class="fas fa-envelope"
                                        id="iconoFooter"></i></a></div>
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-5">
                        <div class="copyright" id="textoFooter">
                            <h1 id="textoFooterInv">Investigación & Docencia <span style="font-size: 10px;">©
                                    Copyright <strong>CITMOV - Universidad
                                        de Cuenca</strong> 2019 </span></h1>
                            <hr>
                            <h6 id="textCuencaDev">Desarrollo por <a target="_blank" href="http://www.cuencadev.com/"
                                    style="color: #4CAF50"><strong>CUENCA
                                        DEV</strong></a></h6>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>