#botonEnviarCont{
    width: 100%;
    background-color: #D7B221;
    color: white;
}
.textPoppins{
    font-family: Poppins,sans-serif;
}
.titulo{
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.centrada{
    text-align: center;
}
.subtituloEquipo{
    font-weight: bold;
    color:#D7B221;
}
.textLora{
    font-family: Lora,serif;
}
.correo{
    text-decoration: underline;
    color: grey;
}