<div class="cuerpo">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2  vertical-menu" id="barra-control">
            <a routerLink="/"  class="active itemLista" id="etiquetaMenu">Inicio</a>
            <a routerLink="/proyectos"  class="itemLista" id="etiquetaMenu">Proyectos</a>
            <a routerLink="/mapas"  class="itemLista dropdown-toggle" id="etiquetaMenu">Mapas</a>
            <a routerLink="/equipo"  class="itemLista" id="etiquetaMenu">Equipo</a>
            <a routerLink="/contactos"  class="itemLista" id="etiquetaMenu">Contactos</a>
            <a routerLink="/opiniones"  class="itemLista" id="etiquetaMenu">Opiniones</a>
            <div id="divLogos">
                <img src="Imagenes\Logo_Citmov.png" id="imgLogoCM">
                <img src="Imagenes\u_cuenca.png" id="imgLogoUC">
            </div>
        </div>
        <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10" style="padding: 0%" >
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-9">
                    <div id="cuerpo">
                        <div id="imagenCitmov" class="text-center">
                            <img src="Imagenes\Logo_Citmov.png" width="110">
                        </div>
                        <h1 class="text-center m-2" id="tituloInicio">
                            Perfil </h1>
                        <div class="row">
                            <div class="col-3">
                                <img src="Imagenes\Enrique_Flores.jpg" alt="" style="width: 70%"
                                    class="imgOpinion">
                            </div>
                            <div class="col-9">
                                <h3 class="centrada titulo textPoppins">Arq. Enrique Flores</h3>
                                <h5 class="centrada titulo textPoppins">Facultad de Arquitectura y Urbanismo</h5>
                                <h6 class="centrada titulo textPoppins">Universidad de Cuenca</h6>
                                <h6 class="textLora">Tipo Licencia Organzición: <strong>A</strong></h6>
                                <h6 class="textLora">Vigencia Licencia: 01/01/2021 </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <footer class="bg-dark text-light textPoppins" style="position: relative; margin-top: 150px;">
                <div class="row ">
                    <div class="col-3">
                        <div class="row pt-4">
                            <div class="col-4"></div>
                            <div class="col-2">
                                <a target="_blank" href="https://www.facebook.com/cit.mov.92"><i
                                        class="fab fa-facebook" id="iconoFooter"></i></a>
                            </div>
                            <div class="col-2"><a target="_blank" href="https://citmovucuenca.com"><i
                                        class="fas fa-globe" id="iconoFooter"></i></a></div>
                            <div class="col-2"><a target="_blank" href="https://twitter.com/FreAbad"><i
                                        class="fas fa-envelope" id="iconoFooter"></i></a></div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                    <div class="col-6 mb-5">
                        <div class="copyright" id="textoFooter">
                            <h1 id="textoFooterInv">Investigación & Docencia <span style="font-size: 10px;">©
                                    Copyright <strong>CITMOV - Universidad
                                        de Cuenca</strong> 2019 </span></h1>
                            <hr>
                            <h6 id="textCuencaDev">Desarrollo por <a target="_blank"
                                    href="http://www.cuencadev.com/" style="color: #4CAF50"><strong>CUENCA
                                        DEV</strong></a></h6>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>