


/* 
@import url("./resources/ol.css");
@import url("resources/fontawesome-all.min.css");
@import url("./resources/ol3-layerswitcher.css");
@import url("./resources/qgis2web.css"); */

.search-layer {
    top: 65px;
    left: .5em;
}

.ol-touch .search-layer {
    top: 80px;
}
html,
body {
    background-color: #ffffff;
}

.ol-control button {
    background-color: #f8f8f8 !important;
    color: #000000 !important;
    border-radius: 0px !important;
}

.ol-zoom,
.geolocate,
.gcd-gl-control .ol-control {
    background-color: rgba(255, 255, 255, .4) !important;
    padding: 3px !important;
}

.ol-scale-line {
    background: none !important;
}

.ol-scale-line-inner {
    border: 2px solid #f8f8f8 !important;
    border-top: none !important;
    background: rgba(255, 255, 255, 0.5) !important;
    color: black !important;
}

#map {
    width: 692px;
    height: 540px;
}